body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Oxyegen, Oxyegen, Oxyegen, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  #chartdiv {
    width: 100%;
    height: 95vh;
  }